<section class="game">
  <div class="field">
    <div class="row"
         *ngFor="let i of [].constructor(width); index as rowIndex">
      <ng-container *ngFor="let j of [].constructor(width); index as columnIndex">
        <ng-container *ngIf="(columnIndex + 1 + rowIndex * width) as cellNumber">
          <div class="cell column"
               [ngClass]="{
                  'scale': snake.includes(cellNumber) || eatenApples.includes(cellNumber),
                  'snake-head': snakeHead === cellNumber,
                  'snake-head__up': snakeHead === cellNumber && direction === 'up',
                  'snake-head__down': snakeHead === cellNumber && direction === 'down',
                  'snake-head__left': snakeHead === cellNumber && direction === 'left',
                  'apple': apple === cellNumber
               }"></div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="score mt-10">
    Score: {{ score }}
  </div>

  <div class="buttons d-flex align-center justify-between mt-10">
    <button (click)="emitCancelGame()">Cancel</button>

    <button (click)="gameInterval ? pauseGame() : resumeGame()">
      {{ gameInterval ? 'Pause Game' : 'Resume Game' }}
    </button>
  </div>
</section>
