@use '@angular/material' as mat;

@include mat.core();
@import "@ng-select/ng-select/themes/default.theme.css";
@import "styles/margins";
@import "styles/elements";
@import "styles/flex";

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e4e1f8;
}
